# Glassdoor scrape

via this script I aim to scrape reported salaries from glassdoor for a specific role in a specific city

#### test - Android Developer Boston

In [ ]:
from jupyterthemes import jtplot
import urllib
import json
import numpy as np
import matplotlib.pyplot as plt

url = 'https://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggest\
Chosen=false&clickSource=searchBtn&typedKeyword=\
Android+Developer&sc.keyword=Android+Developer&locT=C&locId=1154532&jobType='
headers = { 'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' }
data=bytes(json.dumps(headers), encoding="utf-8")
req = urllib.request.Request(url, data, headers)
with urllib.request.urlopen(req) as response:
    the_page = response.read()
print(urllib.request.urlopen(req))

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(the_page, 'html.parser')
soup.find_all("i", class_="info infoSalEst margLtSm")
tag = soup.find_all(attrs={"data-displayed-max-salary": True})

min_sal = np.zeros(0)
for obj in soup.find_all('i', class_="info infoSalEst margLtSm"):
    print(obj.get("data-displayed-min-salary"))
    min_sal = np.append(min_sal,float(obj.get("data-displayed-min-salary")))

print(min_sal)

In [ ]:

plt.hist(min_sal)
plt.show()

unfortunately, glassdoor.com does not report estimated salaries for all roles, therefore we need to scrape the 'Salaries' section of Glassdoor

#### Data Scientist London

In [ ]:
import urllib
import json
import numpy as np
import matplotlib.pyplot as plt
import jupyterthemes.jtplot as jtplot
from bs4 import BeautifulSoup

#specify URL - should be automated
url = 'https://www.glassdoor.co.uk/Salaries/london-data-scientist-salary-SRCH_IL.\
0,6_IM1035_KO7,21.htm'

#standard python user agent is blocked
headers = { 'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36' }
data=bytes(json.dumps(headers), encoding="utf-8")
req = urllib.request.Request(url, data, headers)
with urllib.request.urlopen(req) as response:
    the_page = response.read()
print(urllib.request.urlopen(req))

In [ ]:
the_page

In [31]:
#use beatiful soup for parsing
soup = BeautifulSoup(the_page, 'html.parser')

#obtain min and max salaries
min_sal = np.zeros(0)
max_sal = np.zeros(0)
for obj in soup.find_all("div", class_="JobInfoStyle__range formFactorHelpers__showHH"):
    min_sal = np.append(min_sal, obj.text[8:10])
    max_sal = np.append(max_sal, obj.text[15:17])

# for maxobj in soup.find_all("div", class_="minor cell alignRt maxPay"):
#      max_sal = np.append(max_sal, maxobj.text[15:17])

# #convert into numbers
# min_sal = np.char.replace(min_sal, 'k', '000')
# min_sal = np.char.replace(min_sal, '£', '')
# max_sal = np.char.replace(max_sal, 'k', '000')
# max_sal = np.char.replace(max_sal, '£', '')

min_sal = min_sal.astype(int)
max_sal = max_sal.astype(int)
     
salaries = np.zeros((min_sal.shape[0], 3))
salaries[:,0] = min_sal
salaries[:,1] = max_sal
salaries = salaries[salaries[:, 0].argsort()]
salaries[:,2] = range(max_sal.shape[0])

In [52]:
import re
import pandas as pd

result_set = soup.find_all("div", class_="JobInfoStyle__employerName")

output = np.zeros((len(result_set),1)) 
output = pd.DataFrame(output)
print(output.shape)
j = 0
for i in result_set:
                  output.iloc[j,0] = i.text
                  j +=1

#       output.iloc[result_set.index(i),j] = k.text
                
#output[result_set.index(j), 

# for i, j in enumerate(result_set[4].children):
#     print(i, j.text)
output

(20, 1)

                                   0
0                          Capgemini
1                          Dunnhumby
2                           Elsevier
3                   Imagini Holdings
4                              Tesco
5                           Barclays
6                        J Sainsbury
7                           Unilever
8                       Virgin Media
9                              Ocado
10                              Zopa
11  Department for Work And Pensions
12                         Accenture
13                               IBM
14                     HSBC Holdings
15                            Capita
16                               NHS
17                               Sky
18                     Deutsche Bank
19                            Amazon

In [ ]:
aaa = soup.find_all("div", class_="rangeValues tbl fill")
for a in aaa:
    print(a)

In [ ]:
#plot
salaries[2:salaries.shape[0],:]
salaries = salaries[np.arange(1,33,2),:]
jtplot.style('monokai')
plt.plot(min_sal)
plt.plot(max_sal)
plt.legend(['min', 'max'], ncol=1, loc='upper left', 
           columnspacing=1.0, labelspacing=0.0,
           handletextpad=0.5, handlelength=1.5,
           fancybox=True, shadow=True)
plt.title('Data Scientist salaries - London')
plt.show()
plt.clf()
#bckgr colour is #2f2f2f
plt.bar(x = salaries[:,2], height = salaries[:,1], width = 1, color = 'orange', alpha = 0.7)
plt.bar(x = salaries[:,2], height = salaries[:,0], width = 1, color = '#232323')
plt.legend(['range'], ncol=1, loc='upper left', 
           columnspacing=1.0, labelspacing=0.0,
           handletextpad=0.5, handlelength=1.5,
           fancybox=True, shadow=True)
plt.show()

In [ ]:
soup